body {
    font-family: 'Courier New', Courier, monospace
}

.title {
    text-align: center;
}

.calculator {
    height: 500px;
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: #C6E5F9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: solid #B5DEF4 10px;
}

.screen {
    padding: 0px 11px;
    background-color: #CCCCCC;
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 70px;
    font-weight: 700;
    box-shadow: inset 2px 2px 20px 2px rgba(0, 0, 0, 0.1); 
}

.buttons {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #C6E5F9;
    border-radius: 5px;
    gap: 5px;
}

.buttons .equals {
    flex: 1 1 47.4%;
}

.buttons div {
    flex: 1 1 22%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size:xx-large;
}

.special {
    background-color: #D1E7F7;
    border: solid #A4B1C5 2px;
    color: #A4B1C5;
}

.number {
    background-color: #ECDDF2;
    border: solid #B18CB7 2px;
    color: #B18CB7;
}

.operator {
    background-color: #DBECDA;
    border: solid #A9CDA7 2px;
    color: #A9CDA7;
}

.equals {
    background-color: #FF9E4D;
    border: solid #D65729 2px;
    color: #D65729;
}

.pressed {
    background-color: #AEC6CF;
    border: solid #AEC6CF 2px;
    color: #AEC6CF;
}
